/*@import "./header";

$colors: (
    primary:#333

);
@function color($color-name){
    @return map-get($colors, $color-name);
}

body{
    background-color: rgbacolor((primary), 0.4);
}

.header{

}*/

.flex-parent{
    height: 90vh;
    background-color: blue;
    display: flex;
    //flex-direction: column-reverse;
    //flex-direction: column;
}
.flex-child{
    height: 20vh;
    background-color: red;
    flex-grow: 1;
    margin: 10px;
}

